.carousel {
    max-width: 600px;
    position: relative;
}

.carousel-item {
    display: none;
    height: auto;
    max-width: 100%;
}

.carousel-item-visible {
    display: block;
}

.carousel-button {
    background: transparent;
    border: none;
    font-weight: 900;
}


.carousel-actions {

}
