img {
  max-width: 100%;
}

.carousel {
    margin: 0 auto;
    max-width: 600px;
    position: relative;
}

.carousel-item {
    height: auto;
    max-width: 100%;
}

.carousel-item-visible {
    display: block;
}

.caousel-item-hidden {
    display: none;
}

.carousel-button {
  cursor: pointer;
    background: white;
    border: 2px white solid;
    border-radius: 100vh;
    font-weight: 900;
    width: 50px;
    height: 50px;
    margin: 30px;
}

.carousel-button:hover {
  background: grey;
}

.carousel-actions {
  display: flex;
  position: absolute;
  width: 100%;
  top: 45%;
  justify-content: space-between;
  transform: translateY(-50%);
}
