img {
  max-width: 100%;
}

/* CAROUSEL */
.carousel {
    margin: 0 auto;
    max-width: 600px;
    position: relative;
}

.carousel-item {
  display: none;
    height: auto;
    max-width: 100%;
}

.carousel-item--hidden {
    display: none;
}

.carousel-item--visible {
    display: block;
    animation: slideFadeVisibility 0.9s;
}

/* CAROUSEL BUTTONS */
.carousel-button {
  cursor: pointer;
    background: white;
    border: 2px white solid;
    border-radius: 100vh;
    font-weight: 900;
    width: 50px;
    height: 50px;
    margin: 30px;
}

.carousel-button:hover {
  background: grey;
}

.carousel-actions {
  display: flex;
  position: absolute;
  width: 100%;
  top: 45%;
  justify-content: space-between;
  transform: translateY(-50%);
}

/* DOTS */
.dots {
  text-align: center;
}

.dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  background: red;
  border: 2px red solid;
  border-radius: 100vh;
  }

.dot + .dot {
  margin-left: 10px;
}

.dot--active {
  border: black;
  background: black;
 }


@keyframes slideFadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity:100%;
    }
};
