img {
  max-width: 100%;
}

.carousel {
    margin: 0 auto;
    max-width: 600px;
    position: relative;
}

.carousel-item {
    display: none;
    height: auto;
    max-width: 100%;
}

.carousel-item-visible {
    display: block;
}

.carousel-button {
    background: transparent;
    border: 2px red solid;
    font-weight: 900;
    width: 50px;
    height: 50px;
}


.carousel-actions {
  display: flex;
  position: absolute;
  width: 100%;
  top: 50%;
  justify-content: space-between;
}
